{% extends "layout.html" %}

{% block content %}
	<div>
		<div class="col-lg-9 col-md-9 col-sm-9" id="map">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3">
			<div class="panel panel-default">
			  <!-- <div class="panel-heading">
			    <h3 class="panel-title">Panel title</h3>
			  </div> -->
			  <div class="panel-body">
			  		<h5>Hotels</h5>
						<select class="block-select form-control">
							{% for hotel in hotels %}
							<option>{{hotel}}</option>
							{% endfor %}
						</select>
						<h5>Things To Do</h5>
						<select class="block-select form-control">
							{% for thing in things %}
							<option>{{thing}}</option>
							{% endfor %}
						</select>
						<h5>Restaurants</h5>
						<select class="block-select form-control">
							{% for restaurant in restaurants %}
							<option>{{restaurant}}</option>
							{% endfor %}
						</select>
			  </div>
			</div>
			<div>
					<h4 id="tripDay">Day 1</h4>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <button class="btn btn-default btn-circle btn-active">1</button>
			    <button class="btn btn-default btn-circle">2</button>
			    <button class="btn btn-default btn-circle">3</button>
			    <button class="btn btn-default btn-circle">+</button>
			  </div>
			  <div class="panel-body">
			    Panel content
			  </div>
			</div>
		</div>
		</div>
		
	</div>
<script type="text/javascript" src="/javascript/mapInit.js"></script>
{% endblock %}